/* Universal style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --bg-color:#FFF4E7;
    --heading-color:#131313;
    --text-color: #727272;
    --btn-color:#FF900E;
    --h2-font:45px;
}
h2{
    font-size: var(--h2-font);
    color: var(--heading-color);
    font-weight: 700;
}

/* Header section style */
header{
    max-width: 1300px;
    height: auto;
    background-color: var(--bg-color);
    margin: auto;
    padding: 50px 150px ;
}
/* Navbar style */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container ul{
    display: flex;
}
.container ul li{
    padding:0px 30px;
    list-style: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* banner section style */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:78px;
}
.banner-text, .banner-img{
    flex-basis: 50%; 
}
.banner-text .banner-title{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;
}
.banner-description,.about-us-description ,.feature-description{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}
.banner-btn{
    margin-left: 39%;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 19px 26px;
    margin-bottom: 50px;
}
.banner-img img{
    width: 100%;
    height: auto;
}

/* about-us-section style */
.about-us-section{
    width: 1000px;
    margin: 85px auto auto auto;
}
.about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 40px;
}
.about-us-images{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.about-us-images img{
    width: 250px;
    height: 250px;
}
.about-us-text{
    flex-basis: 50%;
}
.about-us-title{
    font-size: 35px;
    margin-bottom: 20px;
}
.feature-title span{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.about-us-title .span-2{
    color: #FF900E;
}
.about-us-description,.feature-description{
    font-size: 14px;
    text-align: left;
    margin-bottom: 32px;
}
.btn{
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 19px 26px;
}
/* feature section style */
.feature-section{
    width: 1080px;
    margin: 140px auto auto auto;
}
.main-feature{
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-left: 20px
}
.feature-info{
    flex-basis: 50%;
    margin: 39px 0px 38px 30px;
    width: 586px;
}
.feature-info .feature-title{
    font-size: 35px;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 10px;
}
.feature-description{
    margin-bottom: 5px;
}
.feature{
    padding: 20px 15px;
    margin-bottom: 5px;
    box-shadow: 0px 3px 32px -20px grey;
}
.feature-image{
    flex-basis: 50%;
}
.feature-image img{
    width: 450px;
    height: auto;
}
.fea-btn{
    position: absolute;
    width: 185px;
    height: 120px;
    /* margin-top: -99px;
    margin-left: 680px; */
    margin-top: -224px;
    margin-left: 545px;
    background-color: #FF900E;
    border:  none;
    border-radius: 5px;
    padding: 0px 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
}
.fea-btn strong{
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

/* fact-section  style*/
.fact-section{
    width: 1080px;
    margin: 100px auto auto 198px;
}
.fact-title{
    font-size: 35px;
    margin-bottom: 10px;
}
.fact-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* testimonial-section style */
.testimonial-section{
    width: 900px;
    margin: 100px auto auto 230px;
}
.testimonials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial{
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    cursor: pointer;
    transition:transform 0.5s;
}
.testimonial:hover{
    transform:translateY(-15px)
}
.testimonial img{
    margin:30px 0px 8px 70px ;
}
.testimonial h2{
    font-size: 35px;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}
.testimonial p{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: auto;
    margin-bottom: 10px;
}

/* Sponsors section style */
.Sponsors-section{
    width: 1080px;
    margin: 100px auto auto auto;
}
.Sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-info{
    margin-left: 20px;
}
.sponsor-info h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.sponsor-info p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 20px;
}
.company img{
    padding: 20px 30px;
    width: 120px;
    height: auto;
    margin-left: 20px;
    filter: grayscale(100%);
    transition: .5s;
}
.company img:hover{
    filter: none;
}


/* contact-us-section */
.contact-us-section{
    width: 1080px;
    margin: 100px auto auto 120px;
}
.contact-us-section h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.contact-us-section p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}
.contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.social{
    flex-basis: 50%;
}
.social input, textarea{
    width: 500px;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    background-color: #FFFFFF;
    border: 1px solid rgb(240, 236, 236);
    padding: 20px 20px ;
    margin-bottom: 35px;
    box-shadow: 0px 3px 32px -15px grey;
}
.addres{
    flex-basis: 50%;
}
.addres iframe{
    width: 400px;
}
/* footer */
footer{
    width: 900px;
    margin: auto;
    margin-top: 100px;
    background-color: var(--bg-color);
    margin-bottom: 150px;
}
footer p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    padding: 20px ;
}








